<div mat-dialog-content>
  
  <h1 >OPEN</h1>
  <button (click)="chooseBersions(controller);"  mat-dialog-close>Close</button>
  <!-- <button mat-dialog-close>Cancel</button> -->
  <!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="chooseBersions(controller);">No Thanks</button>
  </div> -->
  <p>{{listOfControllers}} hello</p>
  <input type="text" [(ngModel)]="listOfControllers[0]">
  <!-- <div *ngIf="listOfControllers.length != 0"> -->
  <div>
    <p *ngFor="let controller of listOfControllers" NgModel="controller" (click)="chooseBersions(controller);">{{controller}}</p>
  </div>

</div>