<div class="over"  *ngIf="show">
  <div class="pop connected">
    <mat-radio-group class="example-radio-group" class="group" [(ngModel)]="controller">
      <mat-radio-button class="example-radio-button" [checked]="item === controller" *ngFor="let item of list" [value]="item"  (click)="choose(item); ">
        {{item}}
      </mat-radio-button>
    </mat-radio-group>
    <p *ngIf="list.length == 0">No active controllers!</p>
    <button mat-raised-button color="primary" class="first-btn" (click)="closeModal1()">close</button>
  </div>
</div>
<div class="over"  *ngIf="showConnect">
  <div class="pop connected">
    <p class="header">Successfully connected!</p>
    <div class="groupDiv">
      <p class="info">Project Name:</p>
      <p class="main-info">{{message.ProjectName}}</p>
    </div>
    <div class="groupDiv">
      <p class="info">Type of Processos:</p>
      <p class="main-info">{{message.ProcessorType}}</p>
    </div>
    <div class="groupDiv">
      <p class="info">Description of ProcessorType:</p>
      <p class="main-info">{{message.ProcessorTypeDescription}}</p>
    </div>
    <button mat-raised-button color="primary" (click)="closeModal2()">close</button>
  </div>
</div>
